/* Master styles */

body {
    margin: 0px;
    background-color: rgb(29, 43, 54);
  }

.cnotainer{
    display: grid;
    grid-template-columns: 1fr; /* one frational unit, 100 percent */
}
  

/* Paragraph sytles */
  
h1 {
    text-align: center;
    color: goldenrod;    
    font-size: 52px;
    font-family: 'Source Serif Pro', serif;
  }
  
  p {
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    color: white;
    text-align: left;
  }


/* divier style */

hr.head-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 0.5px solid lightgray;
  /* background-image: linear-gradient(to right, white, rgb(29, 43, 54), white);
  color: white; */
  text-align: center;
  margin-bottom: 0.5em;
}

hr.head-divider:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: transparent;
  color:white;
}

hr.foot-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  height: 1px;
  /* border-top: 1px solid lightsteelblue; */
  /* color: whitesmoke; */
  text-align: center;
  margin-top: 2em;
  margin-bottom: -0.5rem;
  background-image: linear-gradient(to right, whitesmoke, rgb(29, 43, 54), whitesmoke);
}


/* Navigation bar styles */

.nav-wrapper{
  position: sticky;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 0.2em;
}

#foot{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 0.4em;
}

.left-side{
  display:flex;
  margin-left: 0.4em;
}

.nav-wrapper > .left-side > div{
  margin-right: 1.2em;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Source Serif Pro', serif;
}

.nav-wrapper > .right-side > div{
  font-family: 'Source Serif Pro', serif;
}

.nav-link-wrapper{
  height: 1.4em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
  font-size: 80%;
  color: lightgray; 
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover{
  color: white;
}

.name_logo{
  position: relative;
  color:white;
  font-size: 0.8em;
  top: -0.1em;
  margin-right: 0.2em;
}

#footnote-signature{
  font-size: 0.8em;
  color: white;
}

 /* About page content styles */

 .two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper{
  padding: 30px;
  padding-left: 60px;
}

.profile-image-wrapper img{
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
  padding-right: 60px;
}
  
