/* Master styles */

body {
    margin: 0px;
    background-color: rgb(29, 43, 54);
  }

/* .container{
    display: grid;
    grid-template-columns: 1fr; 
} */
  

/* Paragraph sytles */
  
h1 {
    text-align: center;
    color: goldenrod;    
    font-size: 52px;
    font-family: 'Arial Narrow Bold';
  }
  
  


/* Navigation bar styles */

.nav-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-bottom: 22px;
  }
  
  .left-side{
    display:flex;
    margin-left: 10px;
  }
  
  .nav-wrapper > .left-side > div{
    margin-right:30px;
    font-size:0.9em;
    text-transform: uppercase;
  }
  
  .nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .nav-link-wrapper a{
    color: lightgray; 
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover{
    border-bottom: 1px solid white;
  }
  
  .nav-link-wrapper a:hover{
    color: white;
  }
  
  .name_logo{
    position: relative;
    color:white;
    font-size: 0.8em;
    top: -2.5px;
    margin-right: 10px;
  }
  
  #footnote-signature{
    font-size: 0.8em;
    color: white;
  }

/* divier style */
  
hr.head-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 1px solid lightgray;
  /* background-image: linear-gradient(to right, white, rgb(29, 43, 54), white);
  color: white; */
  text-align: center;
  margin-bottom: 15px;
}
hr.head-divider:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: transparent;
  color:white;
}

hr.foot-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  height: 1px;
  /* border-top: 1px solid lightsteelblue; */
  /* color: whitesmoke; */
  text-align: center;
  margin-top: 45px;
  margin-bottom: -15px;
  background-image: linear-gradient(to right, whitesmoke, rgb(29, 43, 54), whitesmoke);
}

#inline-divider-wrapper{
  width: 20%;
  align-content: left;
}

/* Contact me style */

.grid-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-wrapper > div{
    background: #eee;
    padding: 1em;
    margin: 15em 3em;
    color: black;
    align-items: center;
}

.grid-wrapper > div > p{
    font-size: 2rem;
    color: black;
    text-align: center;
    font-family: 'Source Serif Pro', serif;;
}

#insicon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7.5%;
}


.grid-wrapper > div >  a{
  color: black;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}