/* Master styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
  --primary-color: #00b894;
  --text-dark: #444444;
  --text-grey: #737373;
  --text-light: #CCCCCC;
  --transition-time: all 0.2s ease-in-out;
  --font-bold: 700;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  /* background-color: rgb(29, 43, 54); */
  font-family: 'Inter', sans-serif;
  color: var(--text-dark);
}

.container{
  margin:  0 100px 0 100px;
}

/* Navigation bar styles */

.nav-wrapper{
  position: sticky;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 0.2em;
}

#foot{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 0.4em;
}

.left-side, .right-side{
  display:flex;
  margin: 2em; 
}


.nav-wrapper > .left-side > div{
  margin-right: 1.2em;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-wrapper > .right-side > div{
  font-size: 0.9rem;
  font-weight: 400;
}

.nav-link-wrapper{
  height: 1.4em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
  font-size: 80%;
  text-decoration: none;
  transition: color 0.5s;
  color: var(--text-dark);
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid var(--dark);
}

.nav-link-wrapper a:hover{
  color: var(--gray);
}

.name_logo{
  position: relative;
  font-size: 0.8em;
  top: -0.1em;
  margin-right: 0.2em;
  display:flex;
  padding: 1em;
  padding-bottom: 0.2em;
  text-align: center;
}

#footnote-signature{
  font-size: 0.9rem;
}

/* divider style */

hr.head-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 0.5px solid var(--text-dark);
  /* background-image: linear-gradient(to right, white, rgb(29, 43, 54), white);
  color: white; */
  text-align: center;
  margin-bottom: 0.5em;
}

hr.head-divider:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.2em;
  padding: 0 0.25em;
  background: transparent;
  color:var(--text-dark);
}

hr.foot-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  height: 1px;
  /* border-top: 1px solid lightsteelblue; */
  /* color: whitesmoke; */
  text-align: center;
  margin-top: 2em;
  margin-bottom: -0.5rem;
  background-image: linear-gradient(to right, whitesmoke, rgb(29, 43, 54), whitesmoke);
}



/* Portfolio styles */

.content-wrapper{
  width: 100%;
}

.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
}

.portfolio-item-wrapper{
  position: relative;
  margin: 40px;
  box-shadow: 0 2px 40px 0 var(--dark);
  border-radius: 50px;
  /* #E6E6E6 */
}

.portfolio-img-background{
  height: 85vh;
  width: 100%;
  background-size: cover;   /* This cropps the image so they are the same size in the grid */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  
}

@media screen and (max-width: 1000px) {
  .portfolio-img-background{
    height: 40vh;
    width: 100%;
    background-size: cover;   /* This cropps the image so they are the same size in the grid */
    background-position: center;
    background-repeat: no-repeat;
  }
}

.img-text-wrapper{
  position: absolute;   /* absolute element must lie in a relative container (position) */
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  /* padding-left: 100px;
  padding-right: 100px; */
}

.logo-wrapper img {
  height: auto;
  width:50%;
  margin-bottom: 1em;
   /*20px  */
}

.img-text-wrapper .logos{
  transition: 1s;
  opacity: 0;
}

.img-text-wrapper:hover .logos{
  opacity: 1;
}

.subtitle{
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  /* 20px 40px 40px */
}

.img-text-wrapper .subtitle{
  font-weight: 600;
  transition: 1s;
  color: transparent;
}

.img-text-wrapper:hover .subtitle{
  font-weight: 600;
  color:var(--primary-color);
}

.img-darken{
  transition: 1s;
  filter: brightness(10%);
}