/* Master styles */

body {
    margin: 0px;
    background-color: rgb(29, 43, 54);
  }

.cnotainer{
    display: grid;
    grid-template-columns: 1fr; /* one frational unit, 100 percent */
}
  

/* Paragraph sytles */
  
h1 {
    text-align: center;
    color: goldenrod;    
    font-size: 52px;
    font-family: 'Arial Narrow Bold';
  }
  
  p {
    text-align: center;
    font-family: Georgia;
    font-size: 24px;
    color: white;
    text-align: left;
  }


/* Navigation bar styles */

.nav-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-bottom: 22px;
  }
  
  .left-side{
    display:flex;
    margin-left: 10px;
  }
  
  .nav-wrapper > .left-side > div{
    margin-right:30px;
    font-size:0.9em;
    text-transform: uppercase;
  }
  
  .nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .nav-link-wrapper a{
    color: lightgray; 
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover{
    border-bottom: 1px solid white;
  }
  
  .nav-link-wrapper a:hover{
    color: white;
  }
  
  .name_logo{
    position: relative;
    color:white;
    font-size: 0.8em;
    top: -2.5px;
    margin-right: 10px;
  }
  
  #footnote-signature{
    font-size: 0.8em;
    color: white;
  }

/* divier style */
  
hr.head-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 1px solid lightgray;
  /* background-image: linear-gradient(to right, white, rgb(29, 43, 54), white);
  color: white; */
  text-align: center;
  margin-bottom: 15px;
}
hr.head-divider:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: transparent;
  color:white;
}

hr.foot-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  height: 1px;
  /* border-top: 1px solid lightsteelblue; */
  /* color: whitesmoke; */
  text-align: center;
  margin-top: 45px;
  margin-bottom: -15px;
  background-image: linear-gradient(to right, whitesmoke, rgb(29, 43, 54), whitesmoke);
}

#inline-divider-wrapper{
  width: 20%;
  align-content: left;
}

/* sports page style */

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-rows: minmax(280px, auto); 
    /* if content exceeds 100px, it will stretch. Default is 100px */
    margin: 1em;
}

.grid-wrapper > div {
    background: #ddd;
    text-align: center;
    padding: 1em;
    margin: 1em 1em;
    color: white;
}

#box1{
    grid-column: 1/3;
    grid-row: 1/3;
    background-size: cover;   /* This cropps the image so they are the same size in the grid */
    background-position: center;
    background-repeat: no-repeat;
}

#box2{
    grid-column: 3/4;
    grid-row: 1/5;
    background-size: cover;   /* This cropps the image so they are the same size in the grid */
    background-position: center;
    background-repeat: no-repeat;
}

/* #box3{
    grid-column: 1/3;
    grid-row: 3/4;
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
} */

#box4{
    grid-column: 1/3;
    grid-row: 3/5;
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
}

#box5{
    grid-column: 3/4;
    grid-row: 5/8;
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
}

#box6{
    grid-column: 1/3;
    grid-row: 5/8;
    background-size: cover;   
    background-position: center;
    background-repeat: round;
}

.img-darken{
  transition: 1s;
  transform: scale(1.05);
  filter: brightness(70%);
}
  