/* Master styles */

body {
    margin: 0px;
    background-color: rgb(29, 43, 54);
  }
/*   
  .container{
    display: grid;
    grid-template-columns: 1fr; 
  } */
  
  /* divider style */
  
  hr.head-divider {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 0.5px solid lightgray;
    /* background-image: linear-gradient(to right, white, rgb(29, 43, 54), white);
    color: white; */
    text-align: center;
    margin-bottom: 0.5em;
  }
  
  hr.head-divider:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent;
    color:white;
  }
  
  hr.foot-divider {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    height: 1px;
    /* border-top: 1px solid lightsteelblue; */
    /* color: whitesmoke; */
    text-align: center;
    margin-top: 2em;
    margin-bottom: -0.5rem;
    background-image: linear-gradient(to right, whitesmoke, rgb(29, 43, 54), whitesmoke);
  }
  
  
  /* Navigation bar styles */
  
  .nav-wrapper{
    position: sticky;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-bottom: 0.2em;
  }
  
  #foot{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-bottom: 0.4em;
  }
  
  .left-side{
    display:flex;
    margin-left: 0.4em;
  }
  
  .right-side{
    display:flex;
    margin-left: 0.4em;
  }
  
  .nav-wrapper > .left-side > div{
    margin-right: 1.2em;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Source Serif Pro', serif;
  }
  
  .nav-wrapper > .right-side > div{
    font-family: 'Source Serif Pro', serif;
  }
  
  .nav-link-wrapper{
    height: 1.4em;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .nav-link-wrapper a{
    font-size: 80%;
    color: lightgray; 
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover{
    border-bottom: 1px solid white;
  }
  
  .nav-link-wrapper a:hover{
    color: white;
  }
  
  .name_logo{
    position: relative;
    color:white;
    font-size: 0.8em;
    top: -0.1em;
    margin-right: 0.2em;
    display:flex;
    padding: 1em;
    padding-bottom: 0.2em;
  }

  #google_translate_element{
    width: auto;
  }
  
  #footnote-signature{
    font-size: 0.8em;
    color: white;
  }

  /* Article Wrapper Style */

  .three-column-wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr minmax(auto, 800px) 2fr;
  }

  .left-to-article, .right-to-article{
    display: block;
  }

  .left-to-article{
    grid-column: 1/2;
  }

  .article-wrapper{
    grid-column: 2/3;
  }

  .right-to-article{
    grid-column: 3/4;
  }


  /* Article Content Style */

  h2{
      color: white;
      font-size: 2.5rem;
      font-family: 'Source Serif Pro', "楷体", serif;
      text-align: left;
  }

  h3{
    color: white;
    font-size: 1.2rem;
    font-family: 'Source Serif Pro', "楷体", serif;
    text-align: left;
    text-decoration: underline;
  }

  h4{
    color: white;
    font-size: 0.8rem;
    font-family: 'Source Serif Pro', "楷体", serif;
    text-align: left;
    font-style: italic;
  }
    /* use it for author name */

  h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  /* rarely use h1 */
  
  p {
    text-align: left;
    font-family: 'Source Serif Pro', "楷体", serif;
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    /* white-space: nowrap; */
    overflow: hidden;
  }

  li{
    text-align: left;
    font-family: 'Source Serif Pro', "楷体", serif;
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;
  }

  img{
    display: block;
    margin: auto;
    max-width: 100%;
  }

  #thefirstmirror{
    height:auto;
    width: 100%;
  }

  table, th, td{
    border: 1px solid white;
    border-spacing: 0px;
    padding-left: 12px;
    padding-right: 5px;
    border-collapse: collapse;
  }

  table{
    width: 90%;
    margin: auto;
  }

  a {
    color: lightblue;
  }

  a:visited{
    color: lightblue;
  }

  .nav-link:visited{
    color: white;
  }

  .qadivider{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
