/* Master styles */

body {
    margin: 0px;
    background-color: rgb(29, 43, 54);
  }

/* .container{
    display: grid;
    grid-template-columns: 1fr; 
} */
  

/* Paragraph sytles */
  
h1 {
    text-align: center;
    color: goldenrod;    
    font-size: 52px;
    font-family: 'Arial Narrow Bold';
  }
  
  p {
    text-align: center;
    font-family: Georgia;
    font-size: 24px;
    color: white;
    text-align: left;
  }


/* Navigation bar styles */

.nav-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-bottom: 22px;
  }
  
  .left-side{
    display:flex;
    margin-left: 10px;
  }
  
  .nav-wrapper > .left-side > div{
    margin-right:30px;
    font-size:0.9em;
    text-transform: uppercase;
  }
  
  .nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .nav-link-wrapper a{
    color: lightgray; 
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover{
    border-bottom: 1px solid white;
  }
  
  .nav-link-wrapper a:hover{
    color: white;
  }
  
  .name_logo{
    position: relative;
    color:white;
    font-size: 0.8em;
    top: -2.5px;
    margin-right: 10px;
  }
  
  #footnote-signature{
    font-size: 0.8em;
    color: white;
  }

/* divier style */
  
hr.head-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 1px solid lightgray;
  /* background-image: linear-gradient(to right, white, rgb(29, 43, 54), white);
  color: white; */
  text-align: center;
  margin-bottom: 15px;
}
hr.head-divider:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: transparent;
  color:white;
}

hr.foot-divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  height: 1px;
  /* border-top: 1px solid lightsteelblue; */
  /* color: whitesmoke; */
  text-align: center;
  margin-top: 45px;
  margin-bottom: -15px;
  background-image: linear-gradient(to right, whitesmoke, rgb(29, 43, 54), whitesmoke);
}

#inline-divider-wrapper{
  width: 20%;
  align-content: left;
}

/* Below is general writing.html content style */

a, a:visited {
  color: white;
  text-decoration: none;
}

.three-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

.article-wrapper{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.my-articles{
    text-align: center;
    list-style-position: inside;
    width: 800px;
    color:white;

}

.my-articles li{
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px 20px; 
    margin: 5px 0;
    transition: 0.5s;
    border-radius: 10px;
}

#article-header{
  background:rgb(29, 43, 54);
  transition: none;
  margin-bottom: 10px;
}

#article-header .upload-tag{
  background: none;
}

/* .my-articles li::marker{
  margin-left: -30px;
} */

/* .my-articles a:nth-child(1){
    font-weight: 1000;
    background: rgba(35, 255, 255, 0.6);
} */

/* #article-link1 li{
  background: rgba(255, 255, 255, 0.6);
}

#article-link2 li{
  background: rgba(255, 255, 255, 0.4);
}

#article-link3 li{
  background: rgba(255, 255, 255, 0.25);
} */

#article-link1 li:hover, #article-link2 li:hover, #article-link3 li:hover{
  transform: scale(1.1);
  background: rgb(29, 43, 54);
}

/* .my-articles li span{
  display: flex;
  justify-content: space-around;
} */

.my-articles li span:nth-child(1){
    margin-left: 30px;
    width: 80px;
}

.my-articles li span:nth-child(2){
    width: 200px;
}

.my-articles li span:nth-child(3){
    width: 100px;
}

.my-articles li span:nth-child(4){
  width: 100px;
}

.my-articles li span:nth-child(5){
  width: 100px;
}

.my-articles li span:nth-child(6){
  color: red;
  background: rgb(255,215,0,1);
  font-weight: 600;
  border-radius: 5px;
  width: 100px;
  margin-left: 50px;
  text-align: center;
}



.my-articles li:hover{
    transform: scale(1.1);
    background: rgb(29, 43, 54);
}

#article-header:hover{
  transform: none;
}

/* .article-name{
    color: white;
}

.article-upload-date{
    color:white;
}

.article-tag{
    color:white;
} */

/* Below is 郝先生.html style */

#haoxiansheng{
    color: white;
}