/* Master styles */

body {
    margin: 0px;
    background-color: lightblue;
  }

.cnotainer{
    display: grid;
    grid-template-columns: 1fr; /* one frational unit, 100 percent */
}
  

  /* Index notice and SpongeBob sytles */
  
h1 {
    text-align: center;
    color: navy;    
    font-size: 64px;
  }
  
  p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  
  #myImage{
    will-change: transform, color;
  }
  
  #button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 50%;
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }

/* Navigation bar styles */

.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 38px;
  }
  
  .left-side{
    display:flex;
  }
  
  .nav-wrapper > .left-side > div{
    margin-right:20px;
    font-size:0.9em;
    text-transform: uppercase;
  }
  
  .nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .nav-link-wrapper a{
    color: #8a8a8a; 
    text-decoration: none;
    transition: color 0.5s;
  
  }
  
  .nav-link-wrapper:hover{
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover{
    color: black;
  }