body {
    background-color: lightblue;
  }
  
h1 {
    color: navy;    
    margin-left: 20px;
}

p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
}