body {
    background-color: lightblue;
  }
  
h1 {
  text-align: center;
  color: navy;    
  font-size: 64px;
}

p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

#myImage{
  will-change: transform, color;
}